[Unit]
Description=Run the Poltergeist backup every night

[Timer]
OnCalendar=*-*-* 04:00:00 UTC
RandomizedDelaySec=15m
Persistent=true

[Install]
WantedBy=timers.target
