# The configuration for MySQL connectivity.
MYSQL_USER=
MYSQL_PASSWORD=
MYSQL_DATABASE=

# TODO: These will be shared between all services employing MySQL connectivity.
# Passing the root password to them might be uhhhh.
MYSQL_ROOT_PASSWORD=